


<body>

    <br>
    <br>

    <div class="container ">
        <div class="login col-md-4 col-md-offset-4 well ">
            <div class="form-group text-center">
                <h1 style="text-align: center;" class="judul ">
                    Login Akun <i class="fa fa-users fa-fw" aria-hidden="true"></i>
                </h1>
                <hr class="garisLogin">
            </div>
            <div class="col-md-11">
                <form class="daftar text-center" method="post" action="<%=request.getContextPath()%>/UserController?action=login-user">
                    <div>
                        <div id="ketikEmail" class="form-group {{error}}">
                            <div class="input-group ">
                                <span class="input-group-addon"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i></span>
                                <input class="form-control " name="email" placeholder="Email anda" type="email" value="faisalarkan21@gmail.com">
                                </span>
                            </div>
                        </div>
                        <div id="ketikPass" class="form-group  {{error}}">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-eye-slash fa-lg"></i>
                                </span>
                                <input class="form-control" name="password" placeholder="Masukan Password" type="password" value="makan">
                            </div>

                        </div>

                        <div style="text-align: center;" id="pesan" class="form-group {{error}}">

                            <a class=" btn btn-raised btn-info btn-md" href="/daftar">Daftar</a>
                            <button id="login" class="btn btn-raised btn-primary" type="submit">Masuk</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

@Html.Partial("_Footer")